body {
    margin-top: 60px;
    font-family: 'Libre Baskerville', serif;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.form-error {
    color: red;
    font-size: 12px;
    margin: 5px 0 0 0
}
.form-field-error {
    border: solid 1px red;
    box-shadow: red 0 0 3px;
    display: inline-block;
}

.pagination {
    text-align: center;
}
.pagination a, .pagination .page-disabled {
    display: inline-block;
    border: solid 1px purple;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}
.pagination a {
    background: purple;
    color: white;
    text-decoration: none;
}
.pagination a:hover {
    background: purple;
    text-decoration: underline;
}
.pagination .page-disabled {
    background: purple;
    color: #dddddd
}
.pagination .current-page {
    display: inline-block;
}
.pagination .current-page input {
    width: 50px;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    border: solid 1px gray;
}
